.homebg {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ube {
  background-image: url("../images/ube.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.ube:hover {
  filter: none;
}

.cheese {
  background-image: url("../images/cheese.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.cheese:hover {
  filter: none;
}

.potato {
  background-image: url("../images/potato.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.potato:hover {
  filter: none;
}

.mango {
  background-image: url("../images/mango.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.mango:hover {
  filter: none;
}

.buko {
  background-image: url("../images/buko.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.buko:hover {
  filter: none;
}

.coffee {
  background-image: url("../images/coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.coffee:hover {
  filter: none;
}

/* iba to */
.macaroni {
  background-image: url("../images/macaroni.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.macaroni:hover {
  filter: none;
}

.bilobilo {
  background-image: url("../images/bilobilo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.bilobilo:hover {
  filter: none;
}

.carbonara {
  background-image: url("../images/carbonara.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.carbonara:hover {
  filter: none;
}

.shanghai {
  background-image: url("../images/shanghai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.shanghai:hover {
  filter: none;
}

.graham {
  background-image: url("../images/graham.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.graham:hover {
  filter: none;
}

.lasagna {
  background-image: url("../images/lasagna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
.lasagna:hover {
  filter: none;
}

.logoimg {
  background-image: url("../images/Logo1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.logoimg.go {
  background-image: url("../images/Logo2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.map {
  background-image: url("../images/mapa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
